fastapi
uvicorn
mysql-connector-python
passlib
bcrypt==4.0.1
python-multipart
python-jose[cryptography]
python-dotenv
pydantic
scikit-learn
transformers==4.46.3
sentence-transformers
torch
requests
ollama